@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

:root{
    /* theme second */
    --yellow:#FA255E;
    --black:white;
    --white:black;
    --headyellow:#1a1a1a;
    --headimg:#FA255E;
    --abouth:#FA255E; 
    --abouth1:white;
    --aboutspan:#FA255E;
    --contactbox:#3333;
    --containericon:#FA255E;
    --headi:#1a1a1a;
    --contactibg:#1a1a1a; 
    --contactic:#FA255E;
    --skillbar:black;
  }
*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;

    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1.4rem;
}

html::-webkit-scrollbar-track{
    background:black;
}

html::-webkit-scrollbar-thumb{
    background:var(black);
}

body{
  /* body color */
    background:var(--white);
    overflow-x: hidden;
    padding-left: 35rem;
}

section{
    min-height: 100vh;
    padding:1rem;
}

.btn{
    padding:.7rem 3rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn i{
    padding:0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background:var(--yellow);
}

.heading{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: .1rem solid #fff4;
    color:var(--black);
}

.heading span{
    color:var(--yellow);
}

header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    height:100%;
    width:35rem;
    /* header */
    background:var(--headyellow);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

/* footer{
  
  text-align: center;
  color: White;
} */




/* typewriter */




header .user img{
    height:17rem;
    width:17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border:.7rem solid var(--headimg);
}

header .user i{
    height: 40px;
    width: 45px;
    background:var(--headi);
    color: var(--black);
    line-height: 40px;
    text-align: center;
    font-size: 24px;
    border-radius: 5px;
    transition: 0.3s;
}


header .user .name{

    font-size: 4rem;
    color:var(--black);
}

header .user .post{
    font-size: 2rem;
    color:var(--black);
}

header .navbar{
    width:100%;
}

header .navbar ul{
    list-style: none;
    padding:1rem 3rem;
}


header .navbar ul li a{
    display: block;
    padding:1rem;
    margin:1.5rem 0;
    background:#333;
    color:#fff;
    font-size: 2rem;
    border-radius: 5rem;
}

header .navbar ul li a:hover{
    background:var(--yellow);
}

#menu{
    position: fixed;
    top:2rem; right:2rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding:0 15rem;
}

.home h3{
    font-size: 2.5rem;
    color:var(--black);
}

.home h1{
    font-size:5rem;
    color:var(--black);
}

.home h1 span{
    color:var(--yellow);
}

.home p{
    font-size:2rem;
    color:var(--black);
    padding: 1rem 0;
}

.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:1rem 0;
}

.about .row .info{
    flex:1 1 48rem;
    padding:2rem 1rem;
    padding-left: 6rem;
}

.about .row .info h3{
    font-size: 2rem;
    /* color:var(--yellow); */
    color: var(--abouth);
    padding:1rem 0;
    font-weight: normal;
}


.about .row .info h1{
    font-size: 2.5rem;
    color:var(--abouth1);
}
.about .row .info h3 span{
    color:var(--aboutspan);
    padding:0 .5rem;
}


.about .row .counter{
    flex:1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .counter .box{
    width:20rem;
    background:#222;
    text-align: center;
    padding: 2rem;
    margin:2rem;
}

.about .row .counter .box span{
    font-size: 4rem;
    color:var(--yellow);
}

.about .row .counter .box h3{
    font-size: 2rem;
    color:#fff;
}








.education .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:1rem 0;
    padding-left: 3rem;
}


.portfolio .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* padding:2rem 0; */
}


.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content{
    flex:1 1 30rem;
    padding:4rem;
    padding-bottom: 0;
}

.contact .row form{
    flex:1 1 45rem;
    padding:2rem;
    margin:2rem;
    margin-bottom: 4rem;
}

.contact .row form .box{
    padding:1.5rem;
    margin:1rem 0;
    background:var(--contactbox);
    color:var(--black);
    text-transform: none;
    font-size: 1.7rem;
    width:100%;
}

.contact .row form .box::placeholder{
    text-transform: capitalize;
}

.contact .row form .message{
    height: 15rem;
    resize: none;
}


.contact .row .content .title{
    text-transform: uppercase;
    color:var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color:var(--black);
    padding:1rem 0;
    font-weight: normal;
}

.contact .row .content .info h3 i{
    padding-right: 1rem;
    color:var(--yellow);
}

.top{
    position: fixed;
    bottom:7.5rem; right: 2rem;
    z-index: 100;
    display: none;
}



















/* media queries  */

@media (max-width:1200px){

    html{
        font-size: 55%;
    }

    .home{
        padding:1rem 4rem;
    }

}

@media (max-width:991px){

   header{
       left:-120%;
   }

   #menu{
       display: block;
   }

   header.toggle{
    left:0%;
   }

   body{
       padding:0;
   }

}

@media (max-width:768px){

    html{
        font-size: 50%;
    }
 
 }

/* mobile css */

@media (max-width:400px){

    header{
        width: 100vw;
    }

    .heading{
        margin:0 3rem;
    }

    .about .row .counter .box{
        width: 100%;
    }
 
    .education .box-container .box{
        width:100%;
    }

    .portfolio .box-container .box{
        width:100%;
    }

    .contact .row form{
        margin:3rem 0;
    }

 }
 /* end  */
 
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  #myImg {
   
    cursor: pointer;
    transition: 0.3s;
  }
  
   #myImg:hover {opacity: 0.7;}
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    border-radius: 50px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  
 
  
  /* Add Animation */
  .modal-content {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  

  /* skills section */
  .skill-bars span{
    color: var(--black);
  }

  .skill-bars{
    margin: 50px;
    padding: 15px 20px;
    width: 400px;
    background: var(--skillbar);
    box-shadow: 15px 15px 20px rgba(95, 94, 94, 0.2);
    border-radius: 10px;
    border: 2px solid var(--yellow);
  }
  .skill-bars .bar{
    margin: 5px 0;
  }
  .skill-bars .bar:first-child{
    margin-top: 0px;
  }
  .skill-bars .bar .info{
    margin-bottom: 5px;
    color: var(--black);
    margin-left: -42px;
  }
  .skill-bars .bar .info span{
    font-weight: 500;
    font-size: 17px;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
  }
  @keyframes showText {
    100%{
      opacity: 1;
    }
  }
  .skill-bars .bar .progress-line{
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
                0 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  @keyframes animate {
    100%{
      transform: scaleX(1);
    }
  }
  .bar .progress-line span{
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: var(--yellow);
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  .bar .progress-line.html span{
    width: 75%;
  }
  .bar .progress-line.java span{
    width: 90%;
  }
  .bar .progress-line.css span{
    width: 70%;
  }
  .bar .progress-line.jquery span{
    width: 65%;
  }
  .bar .progress-line.python span{
    width: 75%;
  }
  .bar .progress-line.mysql span{
    width: 75%;
  }
  .bar .progress-line.html span{
    width: 80%;
  }
  .bar .progress-line.JavaScript span{
    width: 60%;
  }
  .progress-line span::before{
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  .progress-line span::after{
    position: absolute;
    top: -28px;
    right: 0;
    font-weight: 500;
    background: #000;
    color: #fff;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  @keyframes showText2 {
    100%{
      opacity: 1;
    }
  }
  .progress-line.html span::after{
    content: "75%";
  }
  .progress-line.java span::after{
    content: "90%";
  }
  .progress-line.jquery span::after{
    content: "65%";
  }
  .progress-line.python span::after{
    content: "75%";
  }
  .progress-line.mysql span::after{
    content: "75%";
  }
  .progress-line.html span::after{
    content: "80%";
  }
  .progress-line.JavaScript span::after{
    content: "60%";
  }


  /* TimeLine for education */
  *,
*::before,
*::after {
  box-sizing: border-box;
}



.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: var(--black);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container.left {
  left: 0;
}

.container.right {
  left: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: var(--black);
  border: 2px solid white;
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -8px;
}

.container::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: var(--black);
  z-index: 1;
}

.container.right::before {
  left: 8px;
}

.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: var(--black);
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}


.container.left  #engg {
    right: -200px;
  }
  
.container.left .date {
  right: -150px;
}

.container.right .date {
  left: -150px;
}

.container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: var(--containericon);
  border: 2px solid white;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: var(--black);
  z-index: 1;
}

.container.left .icon {
  right: 56px;
}

.container.right .icon {
  left: 56px;
}

.container .content {
  padding: 30px 90px 30px 30px;
  background: var(--yellow);
  position: relative;
  border-radius: 0 500px 500px 0;
}

.container.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.container .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight:bold;
  color: var(--black);

}

.container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

@media (max-width: 767.98px) {
    
    .timeline{
        width: 100%;

    }
}  

@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
  }

  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .container.right {
    left: 0%;
  }

  .container.left::after, 
  .container.right::after {
    left: 82px;
  }

  .container.left::before,
  .container.right::before {
    left: 100px;
    border-color: transparent #006E51 transparent transparent;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: -25px;
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 146px;
  }

  .container.left .content,
  .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}



/* fotter part */
.contact .fot{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; 

}
.contact .fot a{
  display: block;
  color: var(--black);
  font-size: 2rem;
  border-radius: 5rem;
  margin: 10px;

}
.contact .fot i{
  height: 40px;
    width: 45px;
  
    background: var(--contactibg)  ;
    color:  var(--contactic);
    line-height: 40px;
    text-align: center;
    font-size: 24px;
    border-radius: 5px;
    transition: 0.3s;
}

.contact .fot h3{
  display: block;
  text-align: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--black);

}






/* project */

.wrapper{
    position: relative;
    width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 0;
  }
.wrapper p span{
    color: var(--black);
    font-weight: bolder;
}
  .wrapper .card{
    position: relative;
    width: 300px;
    height: 200px;
    margin: 10px;
    align-content: center;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1000;
    box-shadow: 2px 2px 3px #3333334f;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;  
    border: 2px solid var(--yellow) ;

  }

  .card .proname h1{
    color: var(--black);
    font-size: 24px;
    text-align: center;
    margin-top: -20px;
  }
  .card .proname p{
    color: grey;
    font-size: 15px;
    text-align: center;
    padding: 10px;
  }
  .card .prolinks{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;    
  }
  .card .prolinks a{
    display: block;
    color: #fff;
    font-size: 2rem;
    border-radius: 5rem;
    margin: 10px;
  }
  .card .prolinks i{
      
    height: 40px;
    width: 45px;
    background: #1a1a1a;
    color: #fff;
    line-height: 40px;
    text-align: center;
    font-size: 24px;
    border-radius: 5px;
    transition: 0.3s;
  }

  @media (max-width: 994px) {
    .wrapper{
        width: 100%;
    }
  }
